

{% extends 'base.html' %}

{% block body %}

<form method = "POST">
    <input type = "text" autofocus="autofocus" name="search_string">
    <input type = "submit" formaction="/search" value="search">
</form>

<p><a href="{{ url_for('add_player')}}"> Add a new player</a></p>

{% if players %}
<table>
       <thead>
           <tr>
               <th>ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Player Position</th>
           </tr>
       </thead>

       <tbody>
           {% for row in players %}
           <tr>
               <td> {{ row.playerId}}</td>
               <td> {{ row.first_name }}</td>
               <td> {{ row.last_name }}</td>
               <td> {{ row.player_position }}</td>
           </tr>
           <td>
             <form action="{{ url_for('get_player', player_id=row.playerId) }}" method = "POST">
               <input type="submit" value="Details" class="btn btn-danger" />
             </form>
           </td>
           {% endfor %}
       </tbody>
   </table>
{% endif %}
{% endblock %}
